* {
	box-sizing: border-box;
}

body{
	background: url(../images/parede.png);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.conjunto-count{
	position: relative;
	/*max-width: 700px;*/
}
.dias{
	position: relative;
    left: -110px;
    display: inline-flex;
}
.horas{
	position: relative;
    right: 878px;
    display: inline-flex;
}
.minutos{
	position: relative;
    right: 1649px;
    display: inline-flex;
}
.pontos{
	position: relative;
	right: 1341px;
	display: inline-flex;
}
.pontos-ini{
	position: relative;
    display: inline-flex;
    left: -572px;
}
.esquerda{
	position: relative;
	left: -204px;
}
.direito{
	position: relative;
	right: -45px;
}
.san-light{
	font-family: 'sf_compact_displaylight';
}
.san-bold{
	font-family: 'sf_pro_displaybold';
}
.san-regular{
	font-family: 'sf_pro_displayregular';
}
.fs-18{
	font-size: 18px;
}
.fs-20{
	font-size: 20px;
}
.fs-24{
	font-size: 24px;
}
.fs-25{
	font-size: 25px;
}
.fs-30{
	font-size: 30px;
}
.azul{
	color: #35a9e0;
}
.cinxa{
	color: #646464;
}
.max-650{
	max-width: 650px;
}
.input-form{
	border-radius: 30px;
	width: 100%;
	margin: 10px auto;
	border: none;
	height: 55px;
	max-width: 610px;
	padding-left: 43px;
	font-family: 'sf_pro_displayregular';
	box-shadow: 2px 16px 40px 2px #35a9e0;
}
.input-medio{
	width: 100%;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px; 
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px; 
	margin: 10px 0px auto;
	border: none;
	height: 55px;
	max-width: 550px;
	padding-left: 43px;
	font-family: 'sf_pro_displayregular';
	box-shadow: 2px 16px 40px 2px #35a9e0;
}
.input-form:placeholder{
	font-size: 18px;
	color: #656565;
	font-family: 'sf_pro_displayregular';
}
.figure-title{
	max-width: 800px;
	margin: auto;
}
.figure-title:after{
	content: "";
	background: url(../images/pontos.png);
	background-size: cover;
	display: inline-block;
	left: 0px;
	width: 224px;
	height: 117px;
	position: absolute;
	bottom: 151px;
}
.figure-title:before{
	content: "";
	background: url(../images/pontos.png);
	background-size: cover;
	display: inline-block;
	position: absolute;
	right: 0px;
	width: 224px;
	height: 117px;
	margin-top: 76px;
}
.button-form{
	margin: 10px 5px auto 10px;
	width: 150px;
	height: 55px;
	background: #35a9e0;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px; 
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px; 
	border: none;
	font-family: 'sf_pro_displaybold';
	box-shadow: 2px 16px 40px 2px #35a9e0;
}
.input-group{
	max-width: 610px;
}
.caixa-item{
	margin: auto;
	display: inline-flex;
	border-right: solid 1px #646464;
	padding-right: 100px;
}
.b-none{
	border: none;
}
.caixa-text{
	margin-left: 15px;
}
@font-face {
    font-family: 'sf_compact_displaylight';
    src: url('fonts/sfcompactdisplay-light-webfont.woff2') format('woff2'),
         url('fonts/sfcompactdisplay-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sf_pro_displaybold';
    src: url('fonts/sfprodisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/sfprodisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sf_pro_displayregular';
    src: url('fonts/sfprodisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/sfprodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}